{% extends "base_generic.html" %}

{% block navbar-end %}
<div class="navbar-end">
  <div class="navbar-item">
    <div class="buttons">
      <a class="button is-success is-rounded" href="{% url 'login' %}">
        <p style="font-family: Montserrat"> <strong>Login with Spotify</strong></p>
      </a>
      <a class="button is-success is-rounded" href="https://www.spotify.com/us/download/other/" target="_blank">
        <p style="font-family: Montserrat"> <strong>Get Spotify</strong></p>
      </a>
    </div>
  </div>
</div>
{% endblock %}
{% block content %}
<section class="section">
  <div class="container has-text-centered" style="font-family: Montserrat">
    <h1 class="title">Visualize your spotify playlist</h1>
    <p> 1. Login with your spotify account </p>
    <p> 2. Pick a playlist to visualize</p>
    <p> 3. Inspect tracks and remove outliers</p>
  </div>
</section>
{% endblock %}