<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello App!</title>
    <link rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <link href="styles/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/helper.css">
        <!-- <link rel="stylesheet" href="styles/debug.css"> -->
  </head>
  <body>
    <nav class="navbar is-dark" role="navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="">
          <img src="images/spotify-logo.svg" width="64" height="64">
        </a>
      </div>
      <div class="navbar-menu">
        <div class="navbar-start">
          <div class="navbar-item" style="font-family: Montserrat">
            Visualize your playlist
          </div>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-success is-rounded">
                <p style="font-family: Montserrat"> <strong>Login with Spotify</strong></p>
              </a>
              <a class="button is-success is-rounded">
                <p style="font-family: Montserrat"> <strong>Get Spotify</strong></p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <section class="section">
      <div class="container has-text-centered">
        <h1 class="title">Visualize your spotify playlist</h1>
        <p> 1. Login with your spotify account </p>
        <p> 2. Pick a playlist to visualize</p>
        <p> 3. Inspect tracks and remove outliers</p>
      </div>
    </section>
    <section>
      <div class="container">
        
      </div>
    </section>
  </body>
</html>