<!DOCTYPE html>
<html lang="en-US">
  <head>
  	<link href="styles/style.css" rel="stylesheet">
  	<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
  	<link rel="shortcut icon" href="images/icon.png">
    <meta charset="utf-8">
    <meta name="author" content="Binderiya Adishaa">
    <title>Spotify Web Playback SDK Quick Start Tutorial</title>
  </head>
  <body>
  	<header>  	
  	  <span class="navbar-logo">
  		<a href="https://www.spotify.com/us/", target="_blank">
  		  <figure>
  		    <img src="images/spotify-logo.svg" alt="My test image" alt="spotify-logo" width="170px" height="170px">
  		  </figure>
  		</a>
  	  </span>
    </header>
    <main>
      <h1>Spotify Web Playback SDK Quick Start Tutorial</h1>
      <h2>Open your console log: <code>View > Developer > JavaScript Console</code>
      </h2>
      <iframe src="https://open.spotify.com/embed/track/70We9AqHenA4jcmXmKzJnZ" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media">
      </iframe>
    </main>
    <footer>
      <hr>
      <p> If you have any other questions or concerns about the app send me an 
        <a id ='email' href="mailto:ad.binderiya@gmail.com?subject=Outliers%20in%20your%20playlist%20app">email</a>. 
      </p>
    </footer>
    <script src="https://sdk.scdn.co/spotify-player.js"></script>
    <script>
      window.onSpotifyWebPlaybackSDKReady = () => {
      const token ='BQAqq3zJ3I1bF8kHZxy9FnsikWI9HWB3qm9u2HWtWLKDLECvsjfE4KkSJlJoyIvuE6qGTyoVucO1-UWlmS4SiiEHYm18NdJJPKvKR95u7DttbPKAL9_wcQmiFXMXgkUGAJs3o3S-qeaL6GGgGhz4qhujvrbxbejqpVhm8w';
      const player = new Spotify.Player({
        name: 'Web Playback SDK Quick Start Player',
        getOAuthToken: cb => { cb(token); }
      });
    
      // Error handling
      player.addListener('initialization_error', ({ message }) => { console.error(message); });
      player.addListener('authentication_error', ({ message }) => { console.error(message); });
      player.addListener('account_error', ({ message }) => { console.error(message); });
      player.addListener('playback_error', ({ message }) => { console.error(message); });
    
      // Playback status updates
      player.addListener('player_state_changed', state => { console.log(state); });
    
      // Ready
      player.addListener('ready', ({ device_id }) => {
        console.log('Ready with Device ID', device_id);
      });
    
      // Not Ready
      player.addListener('not_ready', ({ device_id }) => {
        console.log('Device ID has gone offline', device_id);
      });
    
      // Connect to the player!
      player.connect();
      };
    </script>
  </body>
</html>